* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.btn {
    width: 200px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5vh;
}
h1 {
    font-size: 30px;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
label {
    font-size: 20px;
}
.check {
    margin-top: 3vh;
}